Repository TingYu-Lee/vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,vue}": [
        "eslint --fix",
        "stylelint --fix"
    ],
    "*.{html,scss,css}": [
        "stylelint --fix"
    ],
    "*.md": [
        "prettier --write"
    ]
}

[Git][husky] git hook
  package.json
Due: none

[Doc] update .md
  README.md
  vue-init-info.md
Due: prettier --write

[lint-staged] Fix config
  .lintstagedrc.json
Due: none

[ESLint] always-multiline
  .eslintrc.js
Due: eslint --fix, stylelint --fix

[ESLint] linebreak-style
  .eslintrc.js
  .vscode/settings.json
Due: eslint --fix, stylelint --fix

Update README.md
  README.md
Due: prettier --write

[tailwind] install via vue-cli
  .prettierrc.js
  .stylelintrc.js
  package-lock.json
  package.json
  postcss.config.js
  src/assets/tailwind.css
  tailwind.config.js
Due: eslint --fix, stylelint --fix

[npm] update "vue-tsc" version for extension
  package-lock.json
  package.json
Due: none
